.buttonContainer {
  flex-direction: "row";
  justify-content: "space-evenly";
}
.buttonText {
  justify-content: "center";
  color: "white";
  padding: 3;
  text-align: "center";
}
.container {
  flex: 1;
  flex-direction: "row";
  justify-content: "center";
  padding: 8;
}
