.GameButtonContainer {
  flex-direction: row;
  justify-content: space-evenly;
}
.GameButtonText {
  justify-content: center;
  color: white;
  padding: 10px;
  font-size: 16pt;
  display: inline-block;
  margin: 3px;
}
.debugText {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-size: 10pt;
  pointer-events: none;
}
.GameContainer {
  flex: 1;
  align-items: center;
  padding: 8px;
}
.GameInputContainer {
  align-items: center;
}
.GameDisabledInputKey {
  color: #888888;
}
.GameInputKey {
  color: #111111;
}
